<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/allProducts.css">

<body>

  <%- include("./partials/header")%>
  <main>

    <div class="title-cards">
      <h2>¡Todo esto y mucho mas!</h2>
    </div>
    <div class="container-card">

      <% for( let i = 0; i < productsList.length; i++ ) { %>


      <div class="card">
        <figure>
          <img src="/uploads/<%=productsList[i].imageCreate %>"alt="imagen de producto">
        </figure>
        <div class="contenido-card">
          <h3>
            <%= productsList[i].productCreate %>
          </h3>
          <p>
            <%= productsList[i].descriptionCreate %>
          </p>
          <p class="precioproducts">
            $ <%= productsList[i].priceCreate %>
          </p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>
      <% } %>



      <div class="card">
        <figure>
          <img src="/imagenes/productos/bata-clasica-dos-costuras-800x800-800x800.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Bata de baño adulto</h3>
          <p> Posee bolsillos delanteros y cinta de ajuste. la tela de algodon 100% aporta mayor confort y suavidad </p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <figure>
          <img src="/imagenes/productos/almohadas-grandes-1.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Almohada sublime</h3>
          <p>El relleno está formado por un núcleo central de espuma de poliuretano Hipersoft Premium de Alta Densidad que brinda resistencia y confort, y una abundante manta de fibra de poliéster hueca, siliconada, cardada y peinada
            que le otorga suavidad.</p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img src="/imagenes/productos/Sabanas-img1.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Sabanas 2 Plazas Algodón 400 hilos</h3>
          <p>Juego completo de sábanas, fabricadas en genero de 240 hilos. 100% algodon Excelente calidad. No se destiñe, no se motosea, totalmente garantizado. Tela importada, confección nacional.</p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>
    </div>
    <div class="title-cards">
      <h2>Segun tu ultima busqueda</h2>
    </div>
    <div class="container-card">

      <div class="card">
        <figure>
          <img src="/imagenes/productos/bata-clasica-dos-costuras-800x800-800x800.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Bata de baño adulto</h3>
          <p> Posee bolsillos delanteros y cinta de ajuste. la tela de algodon 100% aporta mayor confort y suavidad </p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>

      <div class="card">
        <figure>
          <img src="/imagenes/productos/almohadas-grandes-1.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Almohada sublime</h3>
          <p>El relleno está formado por un núcleo central de espuma de poliuretano Hipersoft Premium de Alta Densidad que brinda resistencia y confort, y una abundante manta de fibra de poliéster hueca, siliconada, cardada y peinada que
            le otorga suavidad.</p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>
      <div class="card">
        <figure>
          <img src="/imagenes/productos/Sabanas-img1.jpg">
        </figure>
        <div class="contenido-card">
          <h3>Sabanas 2 Plazas Algodón 400 hilos</h3>
          <p>Juego completo de sábanas, fabricadas en genero de 240 hilos. 100% algodon Excelente calidad. No se destiñe, no se motosea, totalmente garantizado. Tela importada, confección nacional.</p>
          <p class="precioproducts">$10.000</p>
          <a href="/products/detail">Comprar ahora</a>
        </div>
      </div>
    </div>

  </main>

  <!-- footer -->
  <%- include("./partials/footer")%>

</body>

</html>