<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productEdit.css">
<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/productCreate.css">
<%- include("./partials/head")%>
  <body>
    <!--header-->
    <%- include("./partials/header")%>
      <main class="main-edit">
        <p class="create-product">
          <a href="/products/edit"><i class="fas fa-edit"></i></i>Editar Producto</a>
        </p>
        <section class="form-create">
          <form action="/products/create" method="post" enctype="multipart/form-data" id="createForm">
            <p class=" title-edit"> Crear un nuevo producto</p>
            <label for="name">Nombre del producto</label>
            <input class="input-edit " type="text"  name="name" value="<%= locals.oldData ? oldData.name: null %>"
              placeholder="  Por ej.: Bata de Baño Smoking Piqué..." >
              <div>
              </div> 
              <span></span> 
              <% if (locals.errorsMessages && errorsMessages.name) { %>
                <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                    <%= locals.errorsMessages.name.msg %>
                </p>             
                <% } %>
              </select>
              <br>
              
              
              <label for="idBrand">Marcas</label>
              <select class="product-seizures-edit" name="idBrand" placeholder="Ingrese una marca" >
                <option value=""> Elige una marca </option>
                <%  
                  let marca= ["Arredo", "Divanlito","La Cardeuse","La Sabana","Canon"]
                %>  
                <% for (const oneBrand of marca) { %> 
                <option 
                value="<%= oneBrand %>"
                   <%= locals.oldData && (oneBrand === oldData.idBrand) ? "selected" : null %>
                   ><%=oneBrand %> </option> 
                <% } %> 
                
               <!-- 
                 <% // for (let k=0; k<brands.length; k++){%> 
                      <option value="<%= //brands[k].idBrand ? brands[k].idBrand:"" %>">
                    <%= //brands[k].name ? brands[k].name:""%>
                  </option>
                  <%// } %>
                  -->
              </select>
              <span></span>
              <% if (locals.errorsMessages && errorsMessages.idBrand) { %>
                <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                    <%= locals.errorsMessages.idBrand.msg %>
                </p>             
                <% } %>             
              <label for="description">Descripción</label>
              <input class="input-edit" type="text" name="description" value="<%= locals.oldData ? oldData.descripción: null %>"
                placeholder="Ingrese la descripción del producto">
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.description) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.description.msg %>
                  </p>             
                  <% } %>                 <br>
                <label for="stock">Stock</label>
                <input class="input-edit" type="number" name="stock" placeholder="Ingrese la cantidad que tiene en stock" value="<%= locals.oldData ? oldData.stock: null %>">
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.stock) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.stock.msg %>
                  </p>             
                  <% } %>   
                <br>
                <label for="">Imágenes</label>
                <input class="input-edit" type="file" name="imageCreate" accept="image/png, .jpeg, .jpg, image/gif">
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.imageCreate) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.imageCreate.msg %>
                  </p>             
                  <% } %> 
                <br>
                <label for="">Categoría</label>
                <select class="product-list-edit" name="categories"value="<%= locals.oldData ? oldData.categories: null %>" >
                  <option value=""> Elige una categoria </option>
                <%  
                  let categories= ["Sabanas", "Colchones","Toallas","Almohadas","Batas"]
                %>  
                <% for (const oneCategories of categories) { %> 
                <option 
                value="<%= oneCategories %>"
                   <%= locals.oldData && (oneCategories === oldData.categories) ? "selected" : null %>
                   ><%=oneCategories %> </option> 
                <% } %> 
                  <!--
                  <% //for (let i=0; i<categories.length; i++){ %>
                    <option value="<%=//categories[i].categories%>">
                      <%=// categories[i].typeOfCategory %>
                    </option>
                    <% //} %>
                    -->
                </select>
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.categories) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.categories.msg %>
                  </p>             
                  <% } %> 
                <br>
                <label for="">Tamaños</label>
                <select class="product-seizures-edit" name="sizes" value="<%= locals.oldData ? oldData.sizes: null %>">
                  <option value=""> Elige el Tamaño </option>
                  <%  
                    let sizes= ["Cuna", "Cuna funciona","1 Plaza","Queen Size","Extra Queen Size", "King Size","Extra King size","No size","Medium","Large"]
                  %>  
                  <% for (const oneSizes of sizes) { %> 
                  <option 
                  value="<%= oneSizes %>"
                     <%= locals.oldData && (oneSizes === oldData.idBrand) ? "selected" : null %>
                     ><%=oneSizes %> </option> 
                  <% } %> 
                  
                   <!-- <% //for (let j=0; j<sizes.length; j++){ %>
                    <option value="<%=//sizes[j].sizes%>">
                      <%= //sizes[j].typeOfSize %>
                    </option>
                    <% //} %>   -->
                </select>
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.sizes) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.sizes.msg %>
                  </p>             
                  <% } %> 
                <br>
                <!--selector de color- radio-script-->
                <div class="color-selection">
                  <p class="color-title"> Colores</p>
                  <br>
                <class="content-colores">
              <class="color-list-PD"> 
                <select>
                  <option value=""> Elige una color </option>
                  <%  
                    let color= ["Sin color", "Violeta","Gris","Verde","Amarillo"]
                  %>  
                  <% for (const oneColor of color) { %> 
                  <option 
                  value="<%= oneColor %>"
                     <%= locals.oldData && (oneColor === color.idBrand) ? "selected" : null %>
                     ><%=oneColor %> </option> 
                  <% } %> 
                </select>
                   <!-- <%// for (let h=0; h<colors.length; h++){ %>
                      <li>
                        <label class="content-input"><%=// colors[h].color %></label>
                        <div class="content-check">
                          <label class="content-input">
                            <input type="checkbox" name="color" id="color"  value="<%=// locals.oldData ? oldData.color: null %>">
                            <i></i>
                          </label>
                        </div>
                      </li>-->
                      <%// } %>
                  </ul>
                  <span></span>
                  <% if (locals.errorsMessages && errorsMessages.color) { %>
                    <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                        <%= locals.errorsMessages.color.msg %>
                    </p>             
                    <% } %>
                </div>
                </div>
                <label for="price-edit" class="priceCreate">Precio</label>
                <input class="input-edit" type="number" name="priceCreate" placeholder=" $ 0 " value="<%= locals.oldData ? oldData.priceCreate: null %>">
                <span></span>
                <% if (locals.errorsMessages && errorsMessages.priceCreate) { %>
                  <p style="color: rgb(252, 80, 0); font-size: 13px; margin-right: 40%;">
                      <%= locals.errorsMessages.priceCreate.msg %>
                  </p>             
                  <% } %>
                <br>
                <button type="submit" class="button-edit">Publicar</button>
          </form>
     
        </section>
      </main>
      <!-- footer -->
      <%- include("./partials/footer")%>
      <script src="/js/validationProduct.js" ></script>
  </body>
</html>