<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productEdit.css">
<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/productCreate.css">
<%- include("./partials/head")%>
  <body>
    <!--header-->
    <%- include("./partials/header")%>
      <main class="main-edit">
        <p class="create-product">
          <a href="/products/edit"><i class="fas fa-edit"></i></i>Editar Producto</a>
        </p>
        <section class="form-create">
          <form action="/products/create" method="post" enctype="multipart/form-data" id="createForm">
            <p class=" title-edit"> Crear un nuevo producto</p>
            <label for="">Nombre del producto</label>
            <input class="input-edit" type="text" name="name"
              placeholder="  Por ej.: Bata de Baño Smoking Piqué...">
              <span></span>
            <%= locals.errorsMessages ? errorsMessages.usuario.msg: " " %>
              <br>
              </select>
              <br>
              <label for="">Marcas</label>
              <select class="product-seizures-edit" name="idBrand">
                <% for (let k=0; k<brands.length; k++){ %>
                  <option value="<%=brands[k].idBrand%>">
                    <%= brands[k].name %>
                  </option>
                  <% } %>
              </select>
              <span></span>
              <br>
              <label for="">Descripción</label>
              <input class="input-edit" type="text" name="description"
                placeholder="Ingrese la descripción del producto">
                <span></span>
              <%= locals.errorsMessages ? errorsMessages.description-create.msg: " " %>
                <br>
                <label for="">Stock</label>
                <input class="input-edit" type="number" name="stock" placeholder="Ingrese la cantidad en stock">
                <span></span>
                <br>
                <label for="">Imágenes</label>
                <input class="input-edit" type="file" name="imageCreate" accept="image/png, .jpeg, .jpg, image/gif">
                <span></span>
                <br>
                <label for="">Categoría</label>
                <select class="product-list-edit" name="categories" >
                  <% for (let i=0; i<categories.length; i++){ %>
                    <option value="<%=categories[i].idCategory%>">
                      <%= categories[i].typeOfCategory %>
                    </option>
                    <% } %>
                </select>
                <span></span>
                <br>
                <label for="">Tamaños</label>
                <select class="product-seizures-edit" name="sizes" >
                  <% for (let j=0; j<sizes.length; j++){ %>
                    <option value="<%=sizes[j].idSize%>">
                      <%= sizes[j].typeOfSize %>
                    </option>
                    <% } %>
                </select>
                <span></span>
                <br>
                <!--selector de color- radio-script-->
                <div class="color-selection">
                  <p class="color-title"> Colores</p>
                  <br>
                <div class="content-colores">
                  <ul class="color-list-PD">
                    <% for (let h=0; h<colors.length; h++){ %>
                      <li>
                        <label class="content-input"><%= colors[h].color %></label>
                        <div class="content-check">
                          <label class="content-input">
                            <input type="checkbox" name="color" id="color"  value=" <%= colors[h].idColor %>">
                            <i></i>
                          </label>
                        </div>
                      </li>
                      <% } %>
                  </ul>
                </div>
                </div>
                <label for="price-edit" class="priceCreate">Precio</label>
                <input class="input-edit" type="number" name="priceCreate" placeholder=" $ 0 ">
                <span></span>
                <br>
                <button type="submit" class="button-edit">Publicar</button>
          </form>
        </section>
      </main>
      <!-- footer -->
      <%- include("./partials/footer")%>
      <script src="/js/validationProduct.js" ></script>
  </body>
</html>