<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/productEdit.css">
        <link rel="stylesheet" href="/css/productDetail.css">

</head>

<body>


    <div>

        <img src="/uploads/<%= products.image %>" alt="">
        <h2>Producto número: <%= products.idProduct %>
        </h2>
        <H3>
            <%= products.name%>
        </H3>
        <h2>Marca</h2>
        <h3>
            <%=brands.name%>
        </h3>
        <h2>Colores disponibles</h2>
        <% for( let i=0; i < colors.length; i++ ) { %>
            <% for (let j=0; j <JSON.stringify(products.relProductColor.length);j++) { %>
                <% if(JSON.stringify(products.relProductColor[j].idColor)==colors[i].idColor){ %>
                    <h3>*<%= colors[i].color %><br></h3>
                    <% } %>
                        <% } %>
                            <% } %>
                                <h2>Tamaños disponibles</h2>
                                <h3>
                                    <% for( let i=0; i < sizes.length; i++ ) { %>
                                        <% for (let j=0; j <JSON.stringify(products.relProductSize.length);j++) { %>
                                            <% if(JSON.stringify(products.relProductSize[j].idSize)==sizes[i].idSize){
                                                %>
                                                <%= sizes[i].typeOfSize %>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                </h3>
                                <h2>Categorías</h2>
                                <h3>
                                    <% for( let i=0; i < categories.length; i++ ) { %>
                                        <% for (let j=0; j <JSON.stringify(products.relProductCategory.length);j++) { %>
                                            <% if(JSON.stringify(products.relProductCategory[j].idCategory)==categories[i].idCategory){
                                                %>
                                                <%= categories[i].typeOfCategory %>
                                                    <% } %>
                                                        <% } %>
                                                            <% } %>
                                </h3>
                                <h2>Descripción</h2>
                                <h3>
                                    <%= products.description%>
                                </h3>
                                <button>Comprar</button>
                                <% if (locals.isAnUserLogged == true){%>
                                <a href="/products/edit/<%= id %>"><button>Editar</button></a>

                                <form action="/products/borrar/<%= id %>" method="get">
                                    <button type="submit">Eliminar</button>
                                </form>
                                <% } %>
                    </div>
    <div class="small-container">
        <div class="col-2">
            <img src="/imagenes/<%= products.image %>">
        </div>
        <h2>Otros productos que te pueden interesar</h2>
        <div class="small-img-row">
            <div class="small-img-col">
                <img src="/imagenes/productos/almohadones2.jpg" id="small-img">
            </div>
            <div class="small-img-col">
                <img src="/imagenes/productos/acolchado3.jpg" id="small-img">
            </div>
            <div class="small-img-col">
                <img src="/imagenes/productos/toallas2.jpg" id="small-img">
            </div>
            <div class="small-img-col">
                <img src="/imagenes/productos/sabanas4.jpg" id="small-img">
            </div>
        </div>

    </div>

    </div>

    <!-- footer -->
    <%- include("./partials/footer")%>
</body>

</html>