<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head")%>
<link rel="stylesheet" href="/css/allProducts.css">

<body>

  <%- include("./partials/header")%>
  <main>

    <div class="title-cards">
      <h2>¡Todo ésto y mucho más!</h2>
    </div>
    <div class="container-card">

      <% for( let i=products.length ;  i>0; i-- ) { %>        
                   
        <% if(products[i]) { %>

      <div class="card">
        <figure>
          <img src="/uploads/<%=products[i].image%>"alt="imagen de producto">
        </figure>
        <div class="contenido-card">
          <h3>
            <%= products[i].name %>
          </h3>
          <p>
            <%= products[i].description  %>
          </p>
          <p>
           <i> <%=// products[i].ProductBrand.name  %></i>
          </p>
          <p class="precioproducts">
            $ <%=  products[i].price %>
          </p>
          
          <a href="/products/detail/<%=products[i].idProduct%>">Ver Detalle</a>
        </div>
      </div>
      <% } %>
      <% } %>




  </main>

  <!-- footer -->
  <%- include("./partials/footer")%>

</body>

</html>