<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head")%>
  <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>   
    
    <%- include("./partials/header")%>
        

    <main>
        
        <div class="camp-dates">
            <div class="img-dates">
            <img class="img-profile" src="/imagenes/img-user-profile.png"  alt="" >
           <a href="#"><i class="fas fa-pencil-alt"></i></a> 

           <a href="#"> Email : usuario@lasabana.com</a>
        </div>
        <ul class="cont-li">
            <% for(let i=0; i<user.length;i++ ){ %> 
            <li class="nombrecamp">Nombre y apellido: <%= user[i].email %>  </li>
            <br>
            <li class="nombrecamp">Fecha de nacimiento: <%= user[i].fechaNacimiento %> </li>
            <br>
            <li class="nombrecamp">Telefono: <%= user[i].tel %> </li>
            <br>
            <li class="nombrecamp">Dirección: <%= user[i].direccion %> </li>
            <br>
            
            <% } %> 

        </ul>        
    </div>
    </main>

      <!-- footer -->
  <%- include("./partials/footer")%>

</body>
</html>
