<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head")%>
        <link rel="stylesheet" href="/css/user-profile.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productEdit.css">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <%- include("./partials/header")%>
        <main>
            <form action="/users/profile" method="get" class="userEdit">
                
                <input class="input-edit" type="text" value="<%= user.usuario %>">
                <input class="input-edit" type="email" value="<%= user.email %>">
                <input class="input-edit" type="date" value="<%= user.fechaNacimiento %>">
              
                <select id="countries">     

                </select>

          
                <button class="btn-submit-register" type="submit">Guardar cambios</button>
            </form>
        </main>
        <!-- footer -->
        <%- include("./partials/footer")%>
        <script src="/js/apiPais.js"></script>

</body>

</html>